<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      {{max_cost}}
      {% if latest_question_list %}
          <ul class="list-group">
            <li class="list-group-item"> TravelId - Fecha y hora -  Precio  - Pais de origen  - ciudad de origen - Pais de destino - ciudad de destino</li>
          {% for q in latest_question_list %}
            <li class="list-group-item">
            {% for question in q %}
              <  <li class="list-group-item">{{question.idtravel}} | {{question.departure}} | {{question.price}} |
                   {{question.origin_country}} | {{question.origin_city}} | {{question.destination_country}} | {{question.destination_city}}</a></li>
              >
                {{question.idtravel}}</a>

              {% endfor %}
            </li>
          {%endfor%}
          </ul>
      {% else %}
          <p>No polls are available.</p>
      {% endif %}

</div>
