


<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <form  action="/" method="post">
      <div class="container">
        <div class="form-group">
          <label for="sel1">País origen:[ID]</label>
          <input type="text" class="form-control" name="paisOrig" id="usr">
        </div>
        <div class="form-group">
          <label for="usr">Ciudad Origen:[ID]</label>
          <input type="text" class="form-control" name="ciudOrig" id="usr">
        </div>
        <div class="form-group">
          <label for="sel1">País destino:[ID]</label>
          <input type="text" class="form-control" name="paisDest" id="usr">
        </div>
        <div class="form-group">
          <label for="usr">Ciudad Destino:[ID]</label>
          <input type="text" class="form-control" name="ciudDest" id="usr">
        </div>
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <label for="usr">Fecha de partida: mm-dd-aaaa-hh-mmPM/AM</label>
                    <input type='text' class="form-control" name="datetime" id='datetimepicker4' />
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker4').datetimepicker();
                    });
                </script>
            </div>
        </div>
      </div>

      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" />
  </form>
  <from>
    {%if msg_err == "" %}
      <div>
        <label for="sel1">Origen: {{paisOrigen}} - {{ciudadOrigen}}</label>
      </div>
      <div>
        <label for="sel1">Destino: {{paisDestino}} - {{ciudadDestino}}</label>
      </div>
      <div class="container-fluid">
        {% if latest_question_list %}
            <ul class="list-group">
              {% for q in latest_question_list %}
              <li class="list-group-item">
              {% for question in q %}
                <!--  <li class="list-group-item">{{question.idtravel}} | {{question.departure}} | {{question.price}} |
                     {{question.origin_country}} | {{question.origin_city}} | {{question.destination_country}} | {{question.destination_city}}</a></li>
                -->
                <div>
                  Origen: {{question.origin_country}} - {{question.origin_city}} |
                  Destino: {{question.destination_country}} - {{question.destination_city}} |
                  Fecha de partida: {{question.departure}} |
                  Precio : {{question.price}} |
                </div>
              {% endfor %}
              </li>
            {%endfor%}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
      {%else%}
        <p>{{msg_err}}</p>
      {% endif %}
    </div>
  </from>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
