{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
     <title>Low Cost Trip</title>
     {% include 'meta-links.html' %}
   </head>
   <body>
     <!-- <div id="spinner" class="loading">Loading&#8230;</div> -->
     <div id="spinner" class="loading">
       <img src="{% static "images/loading-animated.gif" %}" >
     </div>
      <!-- banner -->
    <div id="containerAll">
      <div class="banner" id="home">
         <div class="agileinfo-dot" id="searching">
            <div class="container">
               <!-- header -->
               {% include 'header.html' %}
               <!-- banner-text -->
               <div class="banner-text">
                  <h2>FIND THE BEST PRICE TO TRAVEL</h2>
                  <div style="background: rgba(0,0,0, 0.5); padding:5%" class="book-form" id="register">
                     <p style="font-weight:bold">Select your destination</p>
                     <div type="submit" id="searchForm" >
                        {% csrf_token %}
                        <!-- <form> -->
                          <div class="col-md-3 form-time-w3layouts">
                            <div class="ui-widget">
                              <label for="From">Travelling From </label>
                              <input id="fromName" type="text" name="fromName" placeholder="from..." required autofocus/>
                              <input id="from" type="hidden" name= "from" display="hidden" />
                              <div id="divErrorFrom" class="alert alert-danger">
                                <strong id="errorFrom"></strong>
                              </div>
                              <!-- <p id="errorFrom" style="color: red; border-bottom: unset; letter-spacing: unset; word-spacing: unset; text-transform: unset; padding: unset;"></p> -->
                            </div>
                          </div>
                          <div class="col-md-3 form-left-agileits-w3layouts ">
                             <label>Travelling To</label>
                             <input id="toName"  type="text" name="toName" placeholder="to..." required />
                             <input id="to" type="hidden" name= "to" display="hidden" />
                             <div id="divErrorTo" class="alert alert-danger">
                               <strong id="errorTo"></strong>
                             </div>
                             <!-- <p id="errorTo" style="color: red; border-bottom: unset; letter-spacing: unset; word-spacing: unset; text-transform: unset; padding: unset;"></p> -->
                          </div>
                          <div class="col-md-3 form-date-w3-agileits">
                             <label>Departure Date</label>
                             <input  id="datepicker1" name="date" type="text" placeholder="mm/dd/yyyy" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" min="11/12/2017" max="12/05/2017" required>
                             <div id="divErrorDate" class="alert alert-danger">
                               <strong id="errorDate"></strong>
                             </div>
                          </div>
                          <div class="col-md-3 form-left-agileits-submit">
                             <input id="btn" type="submit" value="search">
                          </div>
                        <!-- </form> -->
                     </div>
                     <div class="clearfix"></div>
                  </div>
                  <!--loading bar before search results-->
                  <!-- <div id="gif" class="gif" type="hidden" display="hidden" style="display:none">
                    <img src="{% static "images/loading-animated.gif" %}" >
                  </div> -->
               </div>
            </div>
         </div>
      </div>
    </div>



    <!--here is going to be the search_results when the search button is pressed -->






      {% include 'javascript.html'%}

   </body>
</html>
