{% load staticfiles %}

<!--This code was previously with imports and meta links -->

<!--------------------------------------------------------->

<script src="{% static "js/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "js/lightbox-plus-jquery.min.js" %}"></script>

<!-- Owl-Carousel-JavaScript -->
<script src="{% static "js/owl.carousel.js" %}"></script>
<script>
   $(document).ready(function() {
    $("#owl-demo").owlCarousel ({
      items : 4,
      lazyLoad : true,
      autoPlay : true,
      pagination : true,
    });
   });
</script>
<!-- Owl-Carousel-JavaScript -->

<!-- flexSlider -->
<script defer src="{% static "js/jquery.flexslider.js" %}"></script>
<script type="text/javascript">
   $(window).load(function(){
     $('.flexslider').flexslider({
    animation: "slide",
    start: function(slider){
      $('body').removeClass('loading');
    }
     });
   });

</script>
<!-- flexSlider -->


<!-- Move-top-scrolling -->
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>

<!-- Move-top-scrolling -->


<!-- Calendar -->
<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
<script src="{% static "js/jquery-ui.js" %}"></script>
<script>
  $(function() {
    $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" )
      .datepicker({minDate: '11/12/2017',maxDate: '12/05/2017'});
      $("#spinner").hide();
  });
</script>
<!-- Calendar -->


<script>
   var cities = [
    {value:"1", label:"Buenos Aires"},
    {value:"1", label:"Buenos B"},
   ]
</script>


<script>
  $(document).ready(function() {
    var cities;

    $.get( "/rest/tlc/citys/autocomplete_search/?term=")
      .done(function( data ) {
        cities= data;

        $("#fromName").autocomplete({
          source: data,
          focus: function (event, ui) {
                event.preventDefault();
                $("#fromName").val(ui.item.label);
                $("#from").val(ui.item.id)
            },
        });
      });



    $.get( "/rest/tlc/citys/autocomplete_search/?term=")
      .done(function( data ) {
        $("#toName").autocomplete({
          source: data,
          focus: function (event, ui) {
            event.preventDefault();
            $("#toName").val(ui.item.label);
            $("#to").val(ui.item.id)
          },
        });
      });


    //call to results in doSearch without reloading the page
    $(function(){

      $('#btn').click(function() {


        //load variables from the form
        var from = document.getElementById("from").value;
        var fromName = document.getElementById("fromName").value;
        var to = document.getElementById("to").value;
        var toName = document.getElementById("toName").value;
        var date = document.getElementById("datepicker1").value;
        var timezoneOffset = getTimezoneOffset();

        //validate date
        var format= /^(0[1-9]|1[012])(\/)([012][1-9]|3[01]|10|20)(\/)(\d{4})$/;
        var validDate= format.test(date);

        //validate origin and destination
        var foundTo= false;
        var foundFrom= false;
        var i=0;
        while((!foundTo || !foundFrom) && i < cities.length ){
          if(cities[i].value == toName){
            foundTo=true;
          }
          if(cities[i].value == fromName){
            foundFrom=true;
          }
          i++;
        }


        if (foundTo && foundFrom && validDate){
          $("#spinner").show()
          // $('#gif').show()
          //$('#gif').fadeIn(200)
          var request = $.ajax({
            type: "GET",
            url: "/doSearch/?from="+from+"&to="+to+"&date="+date+"&timezoneOffset="+timezoneOffset,
            dataType: "html",
            onLoading: showLoad
          });
          request.done(function(inner) {
            containerAll = document.getElementById('containerAll');
            //remove div of results if already exists
            c = document.getElementById('contact')
            if (c != null){
              containerAll.removeChild(c);
            }
            //append html response to the div containerAll and scroll Down
            $('#containerAll').append(inner);
            $('html, body').animate({
                scrollTop: $('#contact').offset().top
            }, 'slow');
            $("#spinner").hide()
            // $('#gif').hide()
            //$('#gif').fadeOut(200)
          });
        } else if (!foundFrom) {
          alert('Ingrese un origen correcto.')
        } else if (!foundTo) {
          alert('Ingrese un destino correcto.')
        } else if (!validDate) {
          alert('Ingrese una fecha correcta.')
        }

      });
    });


  });
</script>

<!-- TotalPrice sum -->
<script type="text/javascript">
  function getTotalPrice(){
    var i = 0;
    var sum_price = 0;
    {% load filters %}
    {% for travel in list_travels %}
      i++;
      var sum_price = 0;
      {% for link in travel %}
        sum_price = sum_price + {{ link.price }};
      {% endfor %}

      $("#totalPrice_" + i).text(Math.round(sum_price * 100) / 100);
    {% endfor %}
  }
</script>
<!---------------->

<!--TIME ZONE FUNCTION DEFINED  -->
<script src="{% static "js/jstz-1.0.4.min.js" %}"></script>
<script language="javascript">
    function getTimezoneOffset() {
      return (new Date()).getTimezoneOffset();
    }
</script>
<!--TIME ZONE FUNCTION DEFINED -->

<script>
  $('.panel-heading').click(function(){
      $(this).find('.fa-chevron-down').toggleClass('rotated');
  });
</script>
<script language="javascript">
    function showLoad() {
        alert('loading');
    }
</script>



<!--js for bootstrap working-->
<script src="{% static "js/bootstrap.js" %}"></script>
