{% load staticfiles %}

<!--This code was previously with imports and meta links -->

<!--------------------------------------------------------->

<script src="{% static "js/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "js/lightbox-plus-jquery.min.js" %}"></script>

<!-- Owl-Carousel-JavaScript -->
<script src="{% static "js/owl.carousel.js" %}"></script>
<script>
   $(document).ready(function() {
    $("#owl-demo").owlCarousel ({
      items : 4,
      lazyLoad : true,
      autoPlay : true,
      pagination : true,
    });
   });
</script>
<!-- Owl-Carousel-JavaScript -->

<!-- flexSlider -->
<script defer src="{% static "js/jquery.flexslider.js" %}"></script>
<script type="text/javascript">
   $(window).load(function(){
     $('.flexslider').flexslider({
    animation: "slide",
    start: function(slider){
      $('body').removeClass('loading');
    }
     });
   });

</script>
<!-- flexSlider -->


<!-- Move-top-scrolling -->
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>

<!-- Move-top-scrolling -->


<!-- Calendar -->
<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
<script src="{% static "js/jquery-ui.js" %}"></script>
<script>
  $(function() {
    $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" )
      .datepicker({minDate: '+30D',maxDate: '+45D'});
  });
</script>
<!-- Calendar -->


<script>
   var cities = [
    {value:"1", label:"Buenos Aires"},
    {value:"1", label:"Buenos B"},
   ]
</script>


<script>
  $(document).ready(function() {

    $.get( "/rest/tlc/citys/autocomplete_search/?term=")
      .done(function( data ) {
        $("#fromName").autocomplete({
          source: data,
          focus: function (event, ui) {
                event.preventDefault();
                $("#fromName").val(ui.item.label);
                $("#from").val(ui.item.id)
            },
        });
      });

    $.get( "/rest/tlc/citys/autocomplete_search/?term=")
      .done(function( data ) {
        $("#toName").autocomplete({
          source: data,
          focus: function (event, ui) {
            event.preventDefault();
            $("#toName").val(ui.item.label);
            $("#to").val(ui.item.id)
          },
        });
      });

    $(function(){
      $('#btn').click(function() {
        var request = $.ajax({
          type: "GET",
          url: "/rest/tlc/travels/do_search/?from="+document.getElementById("from").value+"&to="+document.getElementById("to").value+"&date="+document.getElementById("datepicker1").value,
          dataType: "json"
        });

        request.done(function(JSON_array) {
          alert(JSON_array["list_travels"][0][0]["departure"]);
          $("#toName").val(1);
          $("#to").val(2)
          //from here you have your array to play with
        });
      });
    });

    {% if list_travels %}
      $(document).ready(function () {
      // Handler for .ready() called.
      $('html, body').animate({
          scrollTop: $('#contact').offset().top
      }, 'slow');
      });
    {% endif %}


  });
</script>

<!-- TotalPrice and TotalDuration Sum -->
<script>
  
  function parse_minutes(minutes_duration) {
    var hours = Math.floor(minutes_duration/60);
    var minutes = minutes_duration % 60;
    var days = Math.floor(hours/24);
    hours = hours % 24;
    var str_days = days > 0 ? String(days) + ' days, ' : '';
    var str_hs = hours > 0 ? String(hours) + ' hours ' : '';
    var str_min = minutes > 0 ? String(minutes) + ' minutes' : '';

    return str_days + str_hs + str_min
  }
  
  var i = 0;
  var sum_price = 0;
  var sum_duration = 0;

  {% for travel in list_travels %}
    i++;
    var sum_duration = 0;
    var sum_price = 0;

    {% for link in travel %}
      sum_price = sum_price + {{ link.price }};
      sum_duration = sum_duration + {{ link.duration }}
    {% endfor %}

    $("#totalPrice_" + i).text(Math.round(sum_price * 100) / 100);
    $("#totalDuration_" + i).text( parse_minutes(sum_duration) );
  {% endfor %}
</script>
<!---------------->

<!--TIME ZONE FUNCTION DEFINED PREVIOUSLY -->
<script src="{% static "js/jstz-1.0.4.min.js" %}"></script>
<script language="javascript">
    function getTimezoneOffset() {
      return (new Date()).getTimezoneOffset();
    }
</script>
<!--TIME ZONE FUNCTION DEFINED PREVIOUSLY -->

<script>
$('#searchForm').submit(function(){ //listen for submit event
  $('<input />').attr('type', 'hidden')
      .attr('name', 'timezoneOffset')
      .attr('value', getTimezoneOffset())
      .appendTo('#searchForm');
  return true;
}); 
</script>

<script>
  $('.panel-heading').click(function(){
      $(this).find('.fa-chevron-down').toggleClass('rotated');
  });
</script>

<!--js for bootstrap working-->
<script src="{% static "js/bootstrap.js" %}"></script>
