{% load staticfiles %}
<!-- meta-tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- //meta-tags -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" type="text/css" media="all"/> <!-- Owl-Carousel-CSS -->
<link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css" media="screen" property="" />
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/lightbox.css" %}">
<!--web-fonts-->
<link href="{% static "//fonts.googleapis.com/css?family=Lato:300,400,700" %}" rel="stylesheet">
<!--//web-fonts-->
